html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 80vh;
}


.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content:flex-start;
    padding: 10px 20px 0px 0px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
}


.web_logo {
    padding-top: 95px;
    padding-left: 20px;
    flex-shrink: 0;
    display: block;
}


svg {
    width: 150px; 
    height: 125px; 
    display: block; 
}


.menu_link {
    display: flex;
    padding-left: 15%;
    gap: 50px;
}


.menu_link a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    opacity: 50%;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}


.menu_link a:hover {
    opacity: 100%;
    font-size: larger;
}


.download_button {
    margin-left: 90px;
    height: 45px;
    width: 12%;
    background-color: rgb(8, 212, 137);
    color: beige;
    border-radius: 30px;
    border: 2px solid #ccc;
    font-size: medium;
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border-style: none;
}

.download_button:hover {
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .menu_link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
    }

}
